ion-header{
    --background:#008F0E;
    ion-toolbar{
        --background:#008F0E;
        color:aliceblue;
    }
}
table{
    border: 1px solid #AAAAAA;
    margin:5px;
    padding: 2px;
}
th,td{
    border: 1px solid #AAAAAA;
    padding: 5px;
}